.site-header {
  background: #FFEAAA;
}

.heading-group-h1 {
  float: left;
  padding: 0 0 .2em 1em;
}

/* TODO: Add styles for the icon-menu class. It should be bigger, and off to the right. */

.main-nav {
  padding: 0.1em;
  float: right;
}

.main-nav ul {
  display: inline-block;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav ul li {
  display: inline-block;
  clear: both;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

#filters {
  padding: 0;
  list-style: none;
}

.template {
  display: none;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

.icon-menu {
  float: right;
  margin: 1.5rem 2.5rem;
  display: none;
  clear: both;
}

.icon-menu:hover {
  font-size: 3rem;
  padding-left: 2rem;
  transition-duration: 2s;
}

.main-nav li:hover {
  font-size: 166%;
  transition-duration: 2s;
  border-bottom-color: tomato;
}

/* TODO: Now add styles for how things should look on a larger screen:
         - Hide the hamburger.
         - Main should be all on one row, with padding spaced better for a larger screen.
         - Just, ya know, try to make it look good! */
/* @media only screen... */

@media only screen and (max-width: 501px) {
  /*this will turn on/off the css menu */
.main-nav ul.open {
  display: block; 
  max-width: 50%;
  margin: 0 auto;
}

.icon-menu {
  float: right;
  margin: 1.5rem 2.5rem;
  display: block;
  position: relative;
}

.main-nav {
  padding: 0.1em;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

/* end of cell phone 480px media query; written by john grillo */
}